* {
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $font-size-default;
    padding-top: $header-height;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    user-select: none;
    outline: none;
    cursor: pointer;
}