// Spacing
$gutter: 30px;
$gutter-1: $gutter / 2;
$gutter-2: $gutter;
$gutter-3: $gutter * 1.5;
$gutter-4: $gutter * 2;

// Layouts
$header-height: 80px;

// Colors
$white: #fff;
$black: #000;
$blue-1: #0079bf;
$blue-2: #315989;
$blue-3: #265773;
$green-1: #61bd4f;
$green-2: #5aac44;

// Font
$helvetica: "Helvetica Neue", Arial, sans-serif;
$font-default: $helvetica;
$font-size-default: 15px;
